.footer {
  background-color: #143bc2;
  color: #fff;
  display: grid;
  grid-template-columns: inherit;
  svg {
    path {
      fill: #fff;
    }
  }

  div,
  p {
    grid-column: 2/3;
  }
  div {
    display: flex;
    padding: 3rem 0;
    column-gap: 10rem;

    @media screen and (max-width: 924px) {
      flex-direction: column;
      row-gap: 3rem;
    }
  }
  p {
    padding-bottom: 1.5rem;
  }
  ul {
    display: flex;
    width: 560px;
    height: 112px;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1rem;
    @media screen and (max-width: 924px) {
      width: unset;
    }
    li {
      flex: 1;
    }
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.0025em;
    }
  }
}
