.header {
  display: grid;
  grid-template-columns: 50px repeat(12, 1fr) 50px;
  padding: 1.5rem 0;
  a {
    color: #fff;
  }

  &__logo {
    grid-column: 2/4;
    path {
      fill: #fff;
    }
  }
  &__navigation {
    grid-column: 4/-2;

    display: grid;
    grid-template-columns: repeat(9, 1fr);

    &--link {
      grid-column: 3/10;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--search {
      grid-column: 7/10;
      justify-self: flex-end;
    }
  }
}

.css-2b097c-container {
  grid-column: 8/10;
}
